<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>关注我不迷路~</title>
    <link rel="stylesheet" href="./css/about.css" />
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    
    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="//at.alicdn.com/t/font_2288416_1gw1zznuqj4.js"></script>
    
  </head>
  <body id="top">
    <!-- 头部导航 -->
    <div class="top">
      <div class="header">
        <div class="logo">Blog</div>
        <ul>
            <li><a href="/index.html">主页</a></li>
            <li class="active"><a>关于我</a></li>
            <li><a href="/qianduan.html" target="_blank">前端</a></li>
            <li><a href="/houduan.html" target="_blank">后端</a></li>
            <li><a href="/liuyan.html" target="_blank">留言</a></li>
        </ul>
        <div id="search" class="search">
          <input type="text" placeholder="请输入关键词查找" v-model="searchKeyword" />
          <button style="font-size: 16px;"  @click="search">
            <a :href="link" target="_blank">
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-xingtaiduICON_sousuo--"></use>
              </svg>
            </a>
          </button>
        </div>
      </div>
    </div>
    <!-- 内容区 -->
    <div id="container" class="container">
      <!--文章详情 -->
      <div class="new-article">
        <div class="left">
          <div class="img-title">
            <img src="https://ccdn.goodq.top/caches/3ddfe819fbff4df42c2816872195b7de/aHR0cHM6Ly81ZDQyNDBiMjU4OWM5LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDcvOTgzMTAxOTgyMDg3OTgzMzllNWNlZWVhOWNmNWViZGMtOTAud2VicA_p_p100_p_3D_p_p100_p_3D.webp" alt="" />
          </div>
          <h1 style="margin-top: 20px;font-size: 28px; padding: 20px 30px;">你的每一刻，都值得记录</h1>
          <div style="color: #727272;text-indent: 2em; padding: 20px 30px; line-height: 1.5em; font-size: 15px;">
            <p>
              人的一生难免遇上风风雨雨和艰辛，面对日常生活的随之而来不如意，不必心怀不满、怨气冲天，也无须耿耿于怀、意志消沉。是福是祸，都得直面；是好是坏，一定会过去了。与其每天背负着包袱低头遭罪，远不如放下包袱享受人生；相比徒劳地埋怨人的命运不公平，还不如自己从容淡定地笑看人生。学会放弃，人生之路才会越走越宽。
            </p>
            <p>
              懂得宽容伤害自已的人，是因为可怜之人必有可恨之处。要了解他人光鲜亮丽的身后，也具有很多不可告人的苦痛。对爱的人，真情流露、坦诚相待就行；对自个不爱的人，报之以笑容，默默地为他祝愿。人在做天在看，冥冥之中自有因果报应在安排。而人们终究要怀有一颗诚实的心，不断做对的事，時刻提示自已，认清自己。谨记：低调做人，不卑不亢做事。
            </p>
            <p>
              终有一天你能懂得，诚实比聪慧更难，聪慧是某种天赋加努力，心地善良却是这种选取。越夸耀什么，越缺啥。换句换说，越缺啥，越认为他人显摆哪些。当脾性来的那时候，你的福分就离开了。用嘴巴伤人，是最愚昧的行为。水深则缓流，语迟则人贵。说，是种能力；不说，是种智慧。
            </p>
            <p>
              人生就像一杯茶，不会苦一辈子，但总会苦一阵子。没有开始的苦，就没有后来的甜。苦苦甜甜的就像一部交响曲，汇成我们的一生。拒绝“苦”就等于关上了“甜”的门，须知，攀登得越高，走过的荊棘就越多。既如此，与其忧伤地接受，不如快乐地迎接。两种姿态，两种人生，自己的人生自己做主。
            </p>
            <p>
              走过一段路，总是有一次理解；亲身经历某些事，才能认清一些人。不见不散的，才是真好朋友；不离不弃的，才是真感情。其实，人有时候需要的仅仅是：一处共鸣、一点理解、一份慰藉、一个陪伴、一句心疼，足矣。所谓幸福：就是有人能懂，有情能守。
            </p>
            <p>
              计较和怨恨是一座牢，宽容是唯一的钥匙。你计较什么，就被什么困扰；怨恨什么，就被什么禁锢。困扰的是快乐的心，禁锢的是自由的灵魂。计较和怨恨，是你亲手给自己打造的牢。要解脱，不是靠争夺，更不是把你恨的人打入地狱，而是宽容。宽容化解纷争，宽容解放自我，宽阔的心无处不自在开心。
            </p>
            <p>
              不要像个落难者，告诉所有人你的不幸。总有一天你会明白，你的委屈要自己消化，你的故事不用逢人就讲起，真正理解的你没有几个，大部分人会站在他们自己的立场，偷看你的笑话。你能做的就是，把秘密藏起来，然后一步一步变得更加强大。
            </p><br>
            <p>别爱我没结果~</p>
          </div>
          <h2 style="padding-left: 30px;">获奖情况:</h2>
          <p style="margin-top: 15px; color: #727272; padding-left: 30px; font-size: 15px;">2017年宇宙无敌打怪兽大奖一等奖</p>  
          <p style="margin-top: 15px; color: #727272; padding-left: 30px; font-size: 15px;">2018年宇宙无敌打怪兽大奖一等奖</p>
          <p style="margin-top: 15px; color: #727272; padding-left: 30px; font-size: 15px;">2019年宇宙无敌打怪兽大奖一等奖</p>
          <p style="margin-top: 15px; color: #727272; padding-left: 30px; font-size: 15px; margin-bottom: 20px;">2020年宇宙无敌打怪兽大奖一等奖</p>
        </div>
        <div class="right">
          <div class="focus-us">
            <h2>关注我</h2>
            <div class="focus">
              <a
                href="https://github.com/Simon1721?tab=repositories"
                target="_blank"
                title="点击跳转到蒋雄的github"
              >
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-github"></use>
                </svg>
              </a>
              <a
                href="https://wx.qq.com/"
                target="_blank"
                title="点击跳转到微信网页版"
              >
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-weixin"></use>
                </svg>
              </a>
              <a
                href="https://user.qzone.qq.com/943417190/infocenter"
                target="_blank"
                title="点击跳转到蒋雄的QQ空间"
              >
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-qq"></use>
                </svg>
              </a>
              <a
                href="https://weibo.com/5887058001/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1"
                target="_blank"
                title="点击跳转到蒋雄的微博"
              >
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-weibo"></use>
                </svg>
              </a>
              <a
                href="https://baike.baidu.com/item/Facebook/7449587?fr=aladdin"
                target="_blank"
                title="不好意思，中国大陆暂时不能正常访问facebook"
              >
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-facebook"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="article">
            <h2>最新文章</h2>
            <div class="art-list" v-for="latest in latestList" :key="latest.id">
              <a :href="latest.link" target="_blank">
                <div>
                  <div class="img-info">
                    <img :src="latest.imgurl" :alt="latest.name" />
                  </div>
                  <p class="titel">{{ latest.name }}</p>
                  <span class="date">发布日期: {{ latest.publishDate }}</span>
                </div>
              </a>
            </div>
          </div>
          <!-- 文章搜索 -->
          <div class="art-search">
            <h2>文章搜索</h2>
            <div class="search">
              <input type="text" placeholder="请输入需要搜索的文字" v-model="searchKeyword"/>
              <a :href="link" target="_blank">
                <button @click="search">搜索</button>
              </a>
            </div>
          </div>
          <!-- 好物推荐 -->
          <div class="good-recommend">
            <h2>好文推荐</h2>
            <ul class="good-list">
              <li v-for="goodImg in goodArtList" :key="goodImg.id">
                <a :href="goodImg.link" target="_blank">
                  <div class="img">
                    <img :src="goodImg.imgurl" :alt="goodImg.name" />
                  </div>
                </a>
              </li>
            </ul>
            <div class="obscuration">
              <div class="tem"></div>
              <div class="surface">
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-weibo"></use>
                </svg>
                <span>关注我的微博@Closer丶sky</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="img-list">
        <li v-for="Img in imglist">
          <div class="img">
            <img :src="Img" alt="" />
          </div>
        </li>
      </ul>
    </div>
    <div id="footer" class="footer">
      <!-- 页底信息 -->
      <div class="blog-info">
        <div class="blog">
          <div class="blog-logo">
            <div class="logo">Blog</div>
            <p>
              人们常觉得准备的阶段是在浪费时间，只有当真正机会来临，而自己没有能力把握的时候，才能觉悟自己平时没有准备才是浪费了时间......
            </p>
            <ul>
              <li>
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-github"></use>
                </svg>
              </li>
              <li>
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-weixin"></use>
                </svg>
              </li>
              <li>
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-qq"></use>
                </svg>
              </li>
              <li>
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-weibo"></use>
                </svg>
              </li>
              <li>
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-facebook"></use>
                </svg>
              </li>
            </ul>
          </div>
          <div class="article">
            <h2>最新文章</h2>
            <div
              class="art-list"
              v-for="footerart in footerlist"
              :key="footerart.id"
            >
              <a :href="footerart.link" target="_blank">
                <div>
                  <div class="img-info">
                    <img :src="footerart.imgurl" :alt="footerart.name" />
                  </div>
                  <p class="titel">{{ footerart.name }}</p>
                  <span class="date"
                    >发布日期: {{ footerart.publishDate }}</span
                  >
                </div>
              </a>
            </div>
          </div>
          <div class="good-recommend">
            <h2>算法推荐</h2>
            <ul class="good-list">
              <li v-for="goodImg in goodList" :key="goodImg.id">
                <a :href="goodImg.link" target="_blank">
                  <div class="img">
                    <img :src="goodImg.imgurl" :alt="goodImg.name" />
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <!-- 备案 -->
      <div class="record-info">
        <div class="record">
          <span class="left"
            >© 2020 Blog 版权所有 网站备案号:
            京IPC备88888888-8号(纯属虚构)</span
          >
          <ul class="right">
            <li>服务条款</li>
            <li>隐私政策</li>
            <li>法律申明</li>
          </ul>
        </div>
      </div>
    </div>
    <script src="./js/about.js"></script>
  </body>
</html>
