<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我的博客毕设</title>
    <link rel="stylesheet" href="./css/datail.css" />
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//at.alicdn.com/t/font_2288416_b1vstqzx66.js"></script>
  </head>
  <body id="top">
    <!-- 头部导航 -->
    <div class="top">
      <div class="header">
        <div class="logo">Blog</div>
        <ul>
          <li>主页</li>
          <li>关于我</li>
          <li>互联网</li>
          <li>生活娱乐</li>
          <li>留言</li>
        </ul>
        <div class="search">
          <input type="text" placeholder="请输入关键词查找" />
          <button>搜索</button>
        </div>
      </div>
    </div>
    <!-- 内容区 -->
    <div id="container" class="container">
      <!--文章详情 -->
      <div class="new-article">
        <div class="left">
          <div class="img-title">
            <img :src="currentArticle.imgurl" :alt="currentArticle.name" />
          </div>
          <div class="tag_author">
            <span class="tag">{{ currentArticle.tag }}</span>
            <span class="author">作者:  {{ currentArticle.author }}</span>
          </div>
          <h1 class="title">{{ currentArticle.name }}</h1>
          <p class="date">发布日期: {{ currentArticle.createAt }}</p>
          <div class="content" v-html="currentArticle.content"><pre>{{ currentArticle.content }}</pre></div>
          <ul class="share">
            <li>分享到 :</li>
            <li>
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-weixin"></use>
              </svg>
            </li>
            <li>
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-qq"></use>
              </svg>
            </li>
            <li>
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-weibo"></use>
              </svg>
            </li>
            <li>
              <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-facebook"></use>
              </svg>
            </li>
          </ul>
        </div>
        <div class="right">
          <div class="focus-us">
            <h2>关注我</h2>
            <div class="focus">
              <a href="https://github.com/Simon1721?tab=repositories" target="_blank" title="点击跳转到蒋雄的github">
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-github"></use>
                </svg>
              </a>
              <a href="https://wx.qq.com/" target="_blank" title="点击跳转到微信网页版">
                <svg class="icon" aria-hidden="true"> 
                  <use xlink:href="#icon-weixin"></use>
                </svg>
              </a>
              <a href="https://user.qzone.qq.com/943417190/infocenter" target="_blank" title="点击跳转到蒋雄的QQ空间">
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-qq"></use>
                </svg>
              </a>
              <a href="https://weibo.com/5887058001/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1" target="_blank" title="点击跳转到蒋雄的微博">
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-weibo"></use>
                </svg>
              </a>
              <a href="https://baike.baidu.com/item/Facebook/7449587?fr=aladdin" target="_blank" title="不好意思，中国大陆暂时不能正常访问facebook">
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-facebook"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="article">
            <h2>最新文章</h2>
            <div class="art-list" v-for="latest in latestList" :key="latest.id">
              <a :href="latest.link" target="_blank">
                <div>
                  <div class="img-info">
                    <img :src="latest.imgurl" :alt="latest.name" />
                  </div>
                  <p class="titel">{{ latest.name }}</p>
                  <span class="date"
                    >发布日期: {{ new Date().toLocaleDateString() }}</span
                  >
                </div>
              </a>
            </div>
          </div>
          <!-- 文章搜索 -->
          <div class="art-search">
            <h2>文章搜索</h2>
            <div class="search">
              <input type="text" placeholder="请输入需要搜索的文字" />
              <button>搜索</button>
            </div>
          </div>
          <!-- 好物推荐 -->
          <div class="good-recommend">
            <h2>好物推荐</h2>
            <ul class="good-list">
              <li v-for="goodImg in goodArtList" :key="goodImg.id">
                <a :href="goodImg.link" target="_blank">
                  <div class="img">
                    <img :src="goodImg.imgurl" :alt="goodImg.name" />
                  </div>
                </a>
              </li>
            </ul>
            <div class="obscuration">
              <div class="tem"></div>
              <div class="surface">
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-weibo"></use>
                </svg>
                <span>关注我的微博@blogtravel</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="img-list">
        <li v-for="Img in imglist">
          <div class="img">
            <img :src="Img" alt="" />
          </div>
        </li>
      </ul>
    </div>
    <div id="footer" class="footer">
      <!-- 页底信息 -->
      <div class="blog-info">
        <div class="blog">
          <div class="blog-logo">
            <div class="logo">Blog</div>
            <p>
              您不需要任何编程基础就能做出功能强大效果出众的专业级网站您所要做的仅是选择网站模板输入图片文字以及鼠标拖拉拽......
            </p>
            <ul>
              <li>
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-github"></use>
                </svg>
              </li>
              <li>
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-weixin"></use>
                </svg>
              </li>
              <li>
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-qq"></use>
                </svg>
              </li>
              <li>
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-weibo"></use>
                </svg>
              </li>
              <li>
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-facebook"></use>
                </svg>
              </li>
            </ul>
          </div>
          <div class="article">
            <h2>最新文章</h2>
            <div
              class="art-list"
              v-for="footerart in footerlist"
              :key="footerart.id"
            >
              <a :href="footerart.link" target="_blank">
                <div>
                  <div class="img-info">
                    <img :src="footerart.imgurl" :alt="footerart.name" />
                  </div>
                  <p class="titel">{{ footerart.name }}</p>
                  <span class="date"
                    >发布日期: {{ new Date().toLocaleDateString() }}</span
                  >
                </div>
              </a>
            </div>
          </div>
          <div class="good-recommend">
            <h2>好物推荐</h2>
            <ul class="good-list">
              <li v-for="goodImg in goodList" :key="goodImg.id">
                <div class="img">
                  <img :src="goodImg.imgurl" :alt="goodImg.name" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <!-- 备案 -->
      <div class="record-info">
        <div class="record">
          <span class="left"
            >© 2020 Blog 版权所有 网站备案号:
            京IPC备88888888-8号(纯属虚构)</span
          >
          <ul class="right">
            <li>服务条款</li>
            <li>隐私政策</li>
            <li>法律申明</li>
          </ul>
        </div>
      </div>
    </div>
    <script src="./js/datail.js"></script>
  </body>
</html>
